/*Apply font to whole page*/
*{
    font-family: 'Quantico', sans-serif;
    border: 1px, solid, blue;
}

/*Set the backcolor and the text color for the cards 
and the Header*/
.jumbotron, tr, .card-header, .card-body{
    background-color: #30393A;
    color:#EBE4B7;
}

/*Style the Header*/
.jumbotron{
    font-size: 4.5rem;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 16px;
    padding-right: 16px;
}

/*Center text on the Jumbotron and the table rows*/
.jumbotron, tr{
    text-align: center;
}

/*Set the sub headers below the jumbotron*/
.card-header, .tableHead{
    font-size: 25px;
    font-weight: bold;
}

/*button styling*/
button, #addTrain{
    border-radius: 5px;
    background-color:#EBE4B7;
    color:#30393A;
    text-align: left;
}

/*Red text used as train is very near*/
.redText{
    color:red;
}
/*yellow text used as train is nears*/
.yellowText{
    color:yellow;
}
/*green text used as train is not near*/
.greenText{
    color:#13CF17;
}

/*Set font size of the card header*/
.card-header{
    font-size: 30px;
}

/*Set Background color*/
body{
    background-color: #604E28;
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  /*button to display the Modal*/
#myBtn{
    float:right;
    font-size: 15px;
    margin-right: 20px;
    margin-top:10px;
}  

